<h1 class="ui header">All of My Boards</h1>
<%= link_to 'New Board', new_board_path %>
<hr />
<br />
<div class="ui grid">
  <% @boards.each do |board| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
        <div class="content">
          <%= link_to board.board_name, board_path(board), class: "header" %>
        </div>
        <div class="extra content">
          <div>
            <%= link_to (board_path(board)) do %>
              <div class="ui basic green button">
                View Board
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>